<h1>Welcome to Brgr Bar</h1>

<h2>Order Form:</h2>
<form action="/" method="post">
    <div>
        <label for='burger-input'>Burger Name:</label>
        <input type='text' id='burger-input' name='name' placeholder='Double-Stack'>
    </div>
    <button type='submit'>Submit</button>
</form>

<h2>Your Plate:</h2>
<ul>
    {{#each burgers}}
    {{#unless eaten}}
        <li>{{ burger }}</li>
        <button class="eat-button" data-id={{id}}>Eat Me</button>
    {{/unless}}
    {{/each}}
</ul>

<h2>Your Belly:</h2>
<ul>
    {{#each burgers}}
    {{#if eaten}}
        <li>{{ burger }}</li>
        <button class="delete-button" data-id={{id}}>Composte</button>
    {{/if}}
    {{/each}}
</ul>