<h1>Welcome to Brgr Bar</h1>

<h2>Not Eaten:</h2>
<ul>
    {{#each burgers}}
    {{#unless eaten}}
        <li>{{ burger }}</li>
    {{/unless}}
    {{/each}}
</ul>

<h2>Eaten:</h2>
<ul>
    {{#each burgers}}
    {{#if eaten}}
        <li>{{ burger }}</li>
    {{/if}}
    {{/each}}
</ul>